
<!DOCTYPE html>
<html>
    <head>
       
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">  
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
        
    </head>
    
    <body>
        <div class ="wrapper">
            <nav>
                <ul>
                    <li><a href=#>HOME</a></li>
                    <li><a href=#>ABOUT</a></li>
                    <li><a class="active" href=#>LOG IN</a></li>
                </ul>

            </nav>
        </div>

 <div style="padding:40px; text-align: center ">

    <h1 style="font-size: 100px;padding-bottom:10px;">UTENSILS</h1>
</div>
<h4 STYLE="font-size:50px;text-align: center" >KITCHEN UTENSILS</h4>
<div class="navi">
    <p>ADD YOUR PRODUCT ACCORDING TO THE CATEGORIES WE HAVE</p>
    <button>ADD PRODUCT</button>
   <ul style="list-style-type: none; margin: 0; padding: 0">
       <li><a href="">SPOONS</a></li>
       <li><a href="">COOKERS</a></li>
        <li><a href="">POTATO MASHER</a></li>
        <li><a href="">VEGETABLE PEELER</a></li>
        <li><a href="">GARLIC PRESSER</a></li>
        <li><a href="">PIE SLICER</a></li>
        <li><a href="">TOASTER</a></li>
        <li><a href="">CHEESE SLICER</a></li>
        <li><a href="">POTATO RICER</a></li>
        

   </ul>
</div>
    
<footer>
    <p>FEEL FREE TO CONTACT US!<br> WE ARE HERE TO HELP YOU!!</p>
</footer>
    </body>
   
</html>   